/*          Entire App      */
/*provide some whitepace between nav and main content, keeps the content from being hidden under the navigation*/
main {
    padding-top: 25px;
}


/*          Question's Page UI*/
/*add whitespace between "Check your Answers" button and other elements*/
#submit {
    margin-top: 30px;
}

/*add whitespace between each queston and answer grouping*/
form {
    margin-bottom: 30px;
}
