/*                  Entire App      */
/*provide some whitepace between nav and main content, keeps the content from being hidden under the navigation*/
main {
    //padding-top: 35px;
}

.fixedElement {
    width: 100%; /*stretch the encouragement div across the entire app*/
    margin-top:  -13px;/*move encouragement div to below the nav*/
    z-index: 2;
}


/*fix bug issues with LG small phones*/
@media only screen and (max-width: 265px) {
    .toBigOnSmallScreens {
        font-size: 12px;
    }
}


/*                  Question's Page UI      */
/*add whitespace between "Check your Answers" button and other elements*/
#submit {
    margin-top: 30px;
}

/*add whitespace between each queston and answer grouping*/
form {
    margin-bottom: 60px;
}

/*add whitespace between textarea and the action buttons*/
div>textarea {
    margin-bottom: 10px;
}

/*round the buttons*/
a.btn, input[type="reset"] {
    border-radius: 25px;
}


/*ensure the "Correct" and "Incorrect" radio options inside of labels are seperated*/
label {
    display: block;
}

/*decrease height between the given answer and the correct answer*/
#checkingAnswers {
    margin-top: -15px;
}

/*increase height between radio optios*/
#spaceBetweenRadioOptions {
	margin-top: 20px;
}

/* mobile test completion rate pop-up*/
.completionPopUp {
    height: 100px;
    width: 100px;
    /*border-radius:50%; */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*grey out question to simulate being disabled*/
.disableQuestion {
	color:darkgrey;
}

/*increase space between hints*/
.spaceBetweenHints {
	margin-top: 20px;
}

/*strike through the question while grading the answers to show its done*/
.strikeThroughQuestion {
	text-decoration: line-through;
}

/*underline the title in the hints feature*/
.underlineTitle {
	text-decoration: underline;
}




/*                  Final Grade Page UI      */


/*         Reccommended style guide for Materialize CSS icons   */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px;  }
.material-icons.md-48 { font-size: 48px; }