<div class="row">
    <div class="col s12">
        <!-- study guide questions and student answer's input boxes -->
        <div ng-repeat="guide in studyQuestions">
            <!-- study guide questions-->
            <form class="flow-text section" name="myform" novalidate>
                <p>{{$index + 1}}. {{guide.question}}</p>
                <div>
                <textarea class="z-depth-1" ng-model="userAnswer" placeholder="answers go here" required></textarea>
                </div>
                <div class="col s6">
                    <!-- <a class="btn orange accent-3 black-text" ng-click="completed($index, userAnswer)" ng-disabled="guide.completed==true">Completed</a> -->
                    <i class="medium material-icons orange-text text-accent-3" ng-click="completed($index, userAnswer)" ng-disabled="guide.completed==true">check</i>
                </div>
                <!--
                <div class="col s6 right-align">
                    <input class="grey-text red lighten-5 btn" type="reset" ng-disabled="guide.completed==true">
                </div>
                -->
            </form>
        </div>
        <div class="divider"></div>
        <div class=" col s12 center">
            <i class="large material-icons white orange-text text-darken-4" id="submit">insert_drive_file</i>
        </div>
        
        
    </div>
</div>
<script>
    /*code */
   
</script>