<div class="row">
    <div class="col s12">
        <div class="center-align">
            <strong class="flow-text">{{studyTestName}}</strong>
        </div>
        <!-- study guide questions and student answer's input boxes -->
        <div ng-repeat="guide in studyQuestions">
            <form class="flow-text section" name="myform" novalidate>
                <div input-field>
                    <!-- Question-->    
                    <strong>{{$index + 1}}. {{guide.question}}</strong>
					
                    <!-- The user inputs the answer here. The ng-disabled attribute will changes-->
					<!--The "userAnswer" variable is the answer given by the user and use in the controller.-->
					<!--The id attribute identify the question. -->
					<!--The ng-disabled attribute changes this unique question's completed value to true, therefore disabling the done button below it -->
					<!--The ng-keypress attribute allows the user to press the "enter" keyboard command that stimulates the done button below(submit answer and disable button) -->
                    <textarea enter class="z-depth-1 materialize-textarea" ng-model="userAnswer" placeholder="Answers go here" required ng-disabled="guide.completed==true" id="{{$index + 1}}" ng-keypress="DoneWithKeyboardEnterCommand($event, $index, userAnswer)" tabindex="{{$index + 1}}"></textarea>                      
                </div>
                <!-- Show this div when app start for student to type answers-->
                <div ng-show="takingTest">
                    <div class="col s6">
                        <!-- Student click this button to submit answer and disable field/button-->
                        <a class="waves-effect waves-light btn orange accent-3 black-text" ng-click="done($index, userAnswer)" ng-disabled="guide.completed==true">
                        Done                    
                        </a> 
                    </div>
                    <!-- Student click this button to submit reset answer-->
                    <div class="col s6 right-align">
                        <input class="grey-text red lighten-5 btn" type="reset" ng-disabled="guide.completed==true">                    
                    </div>
                </div>
                <!-- Show this div when student has finish typing answers and press the submit button to start grading study guide-->
                <div id="checkingAnswers" ng-show="checkingAnswers">
                    <!-- Shows the correct answer to the question-->
                    <p class="blue-text text-darken-4">
                        <span class="black-text">Correct Answer:</span>
                             {{guide.answer}}
                    </p>
                    <!-- Allow the user to choose if the given answer is correct or incorrect compare to the correct answer-->
                    <div class="col s8">
                        <label>
                            <input name="gradeAnswer" type="radio" ng-model="checkMyAnswer" value="correct">
                            <span>Correct</span>
                        </label>
                        <label>
                            <input name="gradeAnswer" type="radio" ng-model="checkMyAnswer" value="incorrect">
                            <span>Incorrect</span>
                        </label>
                    </div>
                    <div class="col s4">
                        <!-- Student click this button to submit answer and disable field-->
                        <a class="waves-effect waves-light btn orange accent-3 black-text" ng-click="gradeAnswer(checkMyAnswer, $index)" ng-disabled="guide.graded==true">
                        Done                    
                        </a>                        
                    </div>
                </div>                    
            </form>
        </div>
        <div class="col s12 center flow-text" ng-show="takingTest">
            <!-- Student click this button to continue to next step in the app's process, checking the answers for correctness. edit is a good replacement for checkmark icon -->
            <a class="pulse btn btn-large orange darken-4 black-text" id="submit" ng-click="checkAnswers()" ng-disabled="completeEveryQuestion">
                <i class="material-icons md-36 orange-text text-lighten-3">edit</i>
                Check Answers
            </a>            
        </div>
        <div class=" col s12 center flow-text" ng-show="checkingAnswers">
            <!-- Student click this button to continue to next step in the app's process, checking the answers for correctness. edit is a good replacement for checkmark icon -->
            <a class="pulse btn btn-large orange darken-4 black-text" id="submit" ui-sref="finalGrade" ng-disabled= "enableFinishButton">
                Final Grade
            </a>
        </div>        
        
        
    </div>
</div>
<script>
    /*code */

	
</script>